version: 2.1

orbs:
  rok8s: fairwinds/rok8s-scripts@15
  oss-docs: fairwinds/oss-docs@0

executors:
  dev-rok8s:
    docker:
      - image: quay.io/reactiveops/ci-images:v15.0-cimg-24.04

references:
  install_vault: &install_vault
    run:
      name: install hashicorp vault
      command: |
        apk --update add curl yq
        cd /tmp
        curl -LO https://releases.hashicorp.com/vault/1.13.2/vault_1.13.2_linux_amd64.zip
        sha256sum vault_1.13.2_linux_amd64.zip | grep f7930279de8381de7c532164b4a4408895d9606c0d24e2e9d2f9acb5dfe99b3c
        unzip vault_1.13.2_linux_amd64.zip
        mv vault /usr/bin/vault

  chainsaw_configuration: &chainsaw_configuration
    pre_script: e2e/pre.sh
    script: e2e/test.sh
    command_runner_image: quay.io/reactiveops/ci-images:v15.0-cimg-24.04
    kind_version: "0.30.0"
    enable_docker_layer_caching: true
    attach-workspace: true
    executor: dev-rok8s
    requires:
      - test
      - snapshot
    filters:
      branches:
        only: /.*/
      tags:
        ignore: /v.*/

jobs:
  test:
    docker:
      - image: cimg/go:1.25
    working_directory: /home/circleci/go/src/github.com/fairwindsops/rbac-manager
    steps:
      - checkout
      - run: go test ./... -coverprofile=coverage.txt -covermode=atomic

  lint:
    docker:
      - image: golangci/golangci-lint:v2.7.2
    resource_class: large
    steps:
      - checkout
      - run: golangci-lint run --timeout=10m -v

  build_and_release:
    working_directory: /home/circleci/go/src/github.com/fairwindsops/rbac-manager
    resource_class: large
    shell: /bin/bash
    docker:
      - image: goreleaser/goreleaser:v2.13.1
        environment:
          GO111MODULE: "on"
    steps:
      - checkout
      - setup_remote_docker
      - *install_vault
      - rok8s/get_vault_env:
          vault_path: repo/global/env
      - rok8s/docker_login:
          registry: "quay.io"
          username: $REACTIVEOPS_QUAY_USER
          password-variable: REACTIVEOPS_QUAY_TOKEN
      - run: goreleaser
  snapshot:
    working_directory: /home/circleci/go/src/github.com/fairwindsops/rbac-manager
    resource_class: large
    docker:
      - image: goreleaser/goreleaser:v2.13.1
    steps:
      - checkout
      - setup_remote_docker
      - run: goreleaser --snapshot --skip sign
      - run: mkdir -p /tmp/workspace/docker_save/
      - run: docker save quay.io/reactiveops/rbac-manager:${CIRCLE_SHA1}-amd64 > /tmp/workspace/docker_save/rbac-manager_${CIRCLE_SHA1}-amd64.tar
      - run: pwd; ls -la *
      - persist_to_workspace:
          root: /tmp/workspace/
          paths:
          - docker_save
      - store_artifacts:
          path: dist
          destination: snapshot

workflows:
  version: 2
  tests:
    jobs:
      - test
      - lint
      - snapshot:
          context: org-global
          requires:
            - test
            - lint
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.30"
          kind_node_image: "kindest/node:v1.30.0@sha256:047357ac0cfea04663786a612ba1eaba9702bef25227a794b52890dd8bcd692e"
          <<: *chainsaw_configuration
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.31"
          kind_node_image: "kindest/node:v1.31.12@sha256:0f5cc49c5e73c0c2bb6e2df56e7df189240d83cf94edfa30946482eb08ec57d2"
          <<: *chainsaw_configuration
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.32"
          kind_node_image: "kindest/node:v1.32.8@sha256:abd489f042d2b644e2d033f5c2d900bc707798d075e8186cb65e3f1367a9d5a1"
          <<: *chainsaw_configuration
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.33"
          kind_node_image: "kindest/node:v1.33.4@sha256:25a6018e48dfcaee478f4a59af81157a437f15e6e140bf103f85a2e7cd0cbbf2"
          <<: *chainsaw_configuration
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.34"
          kind_node_image: "kindest/node:v1.34.0@sha256:7416a61b42b1662ca6ca89f02028ac133a309a2a30ba309614e8ec94d976dc5a"
          <<: *chainsaw_configuration
  release:
    jobs:
      - build_and_release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
      - oss-docs/publish-docs:
          repository: rbac-manager
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^.*/
